*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body{
  font-family: "lutos" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.header{
  background-image: url(../img/hero.jpg);
  background-size: cover;
}