

.btn{
  &:link,
  &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    font-size: $default-font-size;
  }
  
  &--white{
    background-color: #fff;
    color: #777;
  }
  &--green{ 
    background-color: $color-pri-dark;
    color: white;
  }

  &:hover{
    transform: translateY(-3px);
    box-sizing: 0 10px 20px rgba($color-black,.2);
  }
  &:active{
    transform: translateY(-1px);
    box-sizing: 0 5px 10px rgba($color-black,.2);
  }
}

.btn-text{
  &:link,
  &:visited{
    font-size: $default-font-size;
    color:$color-primary ;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover{
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black,.15);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($color-black,.15);
    transform: translateY(0);
  }


}