body{
  font-family: "lato" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

html{
  font-size: 62.5%;
}

.heading-pri{
  color : #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
 
  &--main{
    display: block;
    font-size: 50.5px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 2s ease;
    
  }
  &--sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 21px;
    animation: moveInRight 2s ease;
  }
  
}

.heading-secondary1{
  margin-top: 15rem;
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;


  &:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}


.heading-tertiary{
  font-size:$default-font-size ;
  font-weight:900 ;
  text-transform: uppercase;

}

.paragraph{
  font-size: $default-font-size;

  &:not(:last-child){
    margin-bottom: 3rem;
  }
}