body{
  font-family: "lato" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

html{
  font-size: 62.5%;
}

.heading-pri{
  color : #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
 
  &--main{
    display: block;
    font-size: 50.5px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 2s ease;
    
  }
  &--sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 21px;
    animation: moveInRight 2s ease;
  }
  
}
